canvas {
    margin: 10px auto;
    display: block;
    /*width: 400px;
    height: 300px;
    box-shadow: 0 0 1px 2px #999;*/
}

div#filter {
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction:  column;
}
div#filter > div {
    display: flex;
    justify-content: space-between;
}
.filterActive{
    color:#fff;
    background-color:#b21f2d;
}